/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

li {
    list-style-type: none;
}

.actions-icon {
    height: 26px;
    width: 26px;
    vertical-align: middle;
}

li:hover {
    color: white;
    cursor: pointer;
}

/* Upgrade bar */
.upgrade-bar {
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-btn {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px 40px;
    margin: 0 10px;
}

.upgrade-btn:hover {
   transform: scale(1.2);
    cursor: pointer;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
    color: #a3a3a3;
    font-weight: bold;
}

/* Main Nav */
.main-nav {
    width: 230px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    background-color: black;
    font-size: 12px;
}

.logo {
    width: 70%;
}

.nav-actions {
    margin: 15px 0;
}

.nav-actions li {
    padding: 5px 0;
}

.nav-playlist {
    flex-grow: 1;
    overflow: hidden;
}

.nav-playlist ul {
    overflow-y: auto;
    height: 80%;
}

.nav-playlist h3 {
    font-size: 14px;
    color: white;
}

.nav-playlist li {
    padding: 8px 0;
}

.playlist-icon {
    font-size: 38px;
    vertical-align: middle;
}

#create {
    font-size: 14px;
}

#home {
    color: white;
}

.install:hover {
    color: white;
    cursor: pointer;
}

/* Nav user */
.user::before {
    display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #a3a3a3;
    margin: 10px 0;
}

.user {
    font-size: 14px;
    color: white;
}

.user-icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
}

/* Main content */
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    float: left;
    padding-top: 105px;
    background-color: #141922;
    overflow-y: auto;
}

/* Music menu */
.music-menu {
    text-align: center;
}

.music-menu li {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
}



/* Album Section */
.albums-container {
    padding: 20px;
}

.albums-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    align-content: flex-start;
    
    padding: 20px 0;
    
}

.single-album  {
    width: calc((100% / 6) - 15px);
    margin: 7px;
}

.single-album img {
    width: 100%;
}

.albums-container h3 {
    color: white;
    font-size: 23px;
    margin: 20px 0 10px;
}

.description-album h4 {
    color: white;
    padding: 10px 0;
    text-align: center;
}

.description-album {
    text-align: center;
}

/* FOOTER */
footer {
    height: 90px;
    width: 100%;
    
    background-color: #282828;
}