/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

li {
    list-style-type: none;
}

.actions-icon {
    width: 15%;
    vertical-align: middle;
}

li:hover {
    color: white;
    cursor: pointer;
}

.upgrade-bar {
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
}

/* Main Nav */
.main-nav {
    width: 230px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px ;
    line-height: 34px;
    background-color: black;
    color: #a3a3a3;
    font-size: 13px;
    font-weight: bold;
}

.logo {
    width: 70%;
}

.nav-actions {
    margin: 15px 0;
}

.nav-playlist {
    flex-grow: 1;
    overflow: hidden;
}

.nav-playlist ul {
    overflow-y: auto;
    height: 80%;
}

.playlist-icon {
    font-size: 40px;
    vertical-align: middle;
}

#create {
    font-size: 15px;
}

.home {
    color: white;
}

.install:hover {
    color: white;
    cursor: pointer;
}

/* Main content */
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    float: left;
    background-color: #141922;
}

/* Nav user */
.user::before {
    display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #a3a3a3;
    margin-bottom: 10px;
}

.user {
    font-size: 15px;
    color: white;
}

.user-icon {
    width: 12%;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}


/* FOOTER */
footer {
    height: 90px;
    width: 100%;
    
    background-color: #282828;
}